In [57]:
""" In this workbook I download and prepare World Bank data on gross domestic product """

' In this workbook I download and prepare World Bank data on gross domestic product '

In [58]:
import os
os.getcwd()
os.chdir('C:\\Users\\Vladimir.Grigoryev\\Documents\\Python Scripts\\eci')

In [59]:
import pandas as pd
import numpy as np
import world_bank_data as wb

In [60]:
path = pd.read_csv("API_NY.GDP.MKTP.CD_DS2_en_csv_v2_10576830.csv", header=2)
y1 = pd.DataFrame(path)
y1.drop(["Country Name", "Indicator Code", "Indicator Name", "Unnamed: 63"], axis = 1, inplace=True)

In [61]:
y1.head()

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN
1,AFG,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,1.243909e+10,1.585657e+10,1.780429e+10,1.990732e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.904636e+10,1.954398e+10,NaN
2,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.030716e+10,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,NaN
3,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322825e+10,1.138693e+10,1.188368e+10,1.303854e+10,NaN
4,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09,NaN

In [62]:
inst = y1.values
inst

array([['ABW', nan, nan, ..., 2646927374.30168, 2700558659.2178802, nan],
       ['AFG', 537777811.111111, 548888895.5555559, ...,
        19046357714.4928, 19543976895.4248, nan],
       ['AGO', nan, nan, ..., 101123851090.473, 122123822333.73, nan],
       ...,
       ['ZAF', 7575248495.0301, 7972840543.18914, ...,
        295746599722.06604, 348871647959.64, nan],
       ['ZMB', 713000000.0, 696285714.2857139, ..., 20954754378.1394,
        25868142073.452003, nan],
       ['ZWE', 1052990400.0, 1096646600.0, ..., 20548678100.0,
        22040902300.0, nan]], dtype=object)

In [63]:
len(inst), len(y1.columns), range(len(inst))

(264, 60, range(0, 264))

In [64]:
y1.loc[y1["Country Code"] == "ZWE"]

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
263,ZWE,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,9.665793e+09,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.204090e+10,NaN

In [65]:
series = inst[0][1:]
hop = np.vstack((country, years, series))

In [66]:
data = np.array(["country", "year", "GDP"])
years = np.arange(1960,2019)
for i in range(len(inst)):
    name = inst[i][0]
    country = [name for x in range(len(years))]
    series = inst[i][1:]
    block = np.vstack((country, years, series))
    data = np.vstack((data, block.T))
data

array([['country', 'year', 'GDP'],
       ['ABW', 1960, nan],
       ['ABW', 1961, nan],
       ...,
       ['ZWE', 2016, 20548678100.0],
       ['ZWE', 2017, 22040902300.0],
       ['ZWE', 2018, nan]], dtype=object)

In [67]:
gdp = pd.DataFrame(data[1:][:])
gdp = gdp.rename(columns = {0: "Country Name", 1: "year", 2: "gdp"})
gdp.tail()

      Country Name  year          gdp
15571          ZWE  2014  1.94955e+10
15572          ZWE  2015  1.99631e+10
15573          ZWE  2016  2.05487e+10
15574          ZWE  2017  2.20409e+10
15575          ZWE  2018          NaN

In [68]:
gdp["map"] = gdp.index

inst = gdp.values

for i in gdp.index:
    inst[i][3] = str(inst[i][0]) + str(inst[i][1])
    
gdp = pd.DataFrame(inst, columns = ["code", "year", "gdp", "map"])
gdp.head()

  code  year  gdp      map
0  ABW  1960  NaN  ABW1960
1  ABW  1961  NaN  ABW1961
2  ABW  1962  NaN  ABW1962
3  ABW  1963  NaN  ABW1963
4  ABW  1964  NaN  ABW1964

In [69]:
gdp.drop(["code", "year"], axis = 1, inplace=True)

In [70]:
gdp.tail()

               gdp      map
15571  1.94955e+10  ZWE2014
15572  1.99631e+10  ZWE2015
15573  2.05487e+10  ZWE2016
15574  2.20409e+10  ZWE2017
15575          NaN  ZWE2018

In [71]:
gdp.to_csv("GDP_cur.csv")

In [ ]:
# END