In [34]:
""" In this workbook I download and prepare World Bank data on gross domestic product in constant dollars"""

' In this workbook I download and prepare World Bank data on gross domestic product in constant dollars'

In [35]:
import os
os.getcwd()
os.chdir('C:\\Users\\Vladimir.Grigoryev\\Documents\\Python Scripts\\eci')

In [36]:
import pandas as pd
import numpy as np

In [37]:
path = pd.read_csv("API_NY.GDP.MKTP.KD_DS2_en_csv_v2_10576706.csv", header=2)
y1 = pd.DataFrame(path)
y1.drop(["Country Name", "Indicator Code", "Indicator Name", "Unnamed: 63"], axis = 1, inplace=True)

In [38]:
y1.head()

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.481964e+09,2.390503e+09,2.472881e+09,2.439006e+09,2.541401e+09,2.562958e+09,2.551409e+09,2.546020e+09,2.579895e+09,NaN
1,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.386519e+10,1.585657e+10,1.592418e+10,1.795488e+10,1.896048e+10,1.947707e+10,1.975974e+10,2.020638e+10,2.074494e+10,NaN
2,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.991619e+10,8.379950e+10,8.670900e+10,9.411581e+10,9.877886e+10,1.035426e+11,1.045196e+11,1.018229e+11,1.016730e+11,NaN
3,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.150030e+10,1.192696e+10,1.223109e+10,1.240478e+10,1.252882e+10,1.275058e+10,1.303365e+10,1.347027e+10,1.398693e+10,NaN
4,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.545703e+09,3.355695e+09,3.199772e+09,3.148088e+09,3.159158e+09,3.231114e+09,3.258327e+09,3.319880e+09,3.382068e+09,NaN

In [39]:
inst = y1.values
inst

array([['ABW', nan, nan, ..., 2546020205.29152, 2579895285.13211, nan],
       ['AFG', nan, nan, ..., 20206376461.4103, 20744935406.0955, nan],
       ['AGO', nan, nan, ..., 101822893038.982, 101673002182.77802, nan],
       ...,
       ['ZAF', 79070958914.0854, 82111040763.2424, ..., 421266226142.599,
        426813227524.301, nan],
       ['ZMB', 4592975693.64824, 4655503637.614389, ...,
        27037168289.1747, 27957288778.6371, nan],
       ['ZWE', 3756656488.44269, 3993932820.3231397, ...,
        17177545688.225, 17985583516.6265, nan]], dtype=object)

In [40]:
len(inst), len(y1.columns), range(len(inst))

(264, 60, range(0, 264))

In [41]:
y1.loc[y1["Country Code"] == "ZWE"]

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
263,ZWE,3.756656e+09,3.993933e+09,4.051225e+09,4.304197e+09,4.256585e+09,4.465608e+09,4.533625e+09,4.912954e+09,5.009745e+09,...,1.006194e+10,1.204166e+10,1.375084e+10,1.604247e+10,1.636164e+10,1.675054e+10,1.704868e+10,1.717755e+10,1.798558e+10,NaN

In [42]:
series = inst[0][1:]
hop = np.vstack((country, years, series))

In [43]:
data = np.array(["country", "year", "GDP"])
years = np.arange(1960,2019)
for i in range(len(inst)):
    name = inst[i][0]
    country = [name for x in range(len(years))]
    series = inst[i][1:]
    block = np.vstack((country, years, series))
    data = np.vstack((data, block.T))
data

array([['country', 'year', 'GDP'],
       ['ABW', 1960, nan],
       ['ABW', 1961, nan],
       ...,
       ['ZWE', 2016, 17177545688.225],
       ['ZWE', 2017, 17985583516.6265],
       ['ZWE', 2018, nan]], dtype=object)

In [44]:
gdp = pd.DataFrame(data[1:][:])
gdp = gdp.rename(columns = {0: "Country Name", 1: "year", 2: "gdp"})
gdp.tail()

      Country Name  year          gdp
15571          ZWE  2014  1.67505e+10
15572          ZWE  2015  1.70487e+10
15573          ZWE  2016  1.71775e+10
15574          ZWE  2017  1.79856e+10
15575          ZWE  2018          NaN

In [45]:
gdp["map"] = gdp.index

inst = gdp.values

for i in gdp.index:
    inst[i][3] = str(inst[i][0]) + str(inst[i][1])
    
gdp = pd.DataFrame(inst, columns = ["code", "year", "gdp_cons", "map"])
gdp.head()

  code  year gdp_cons      map
0  ABW  1960      NaN  ABW1960
1  ABW  1961      NaN  ABW1961
2  ABW  1962      NaN  ABW1962
3  ABW  1963      NaN  ABW1963
4  ABW  1964      NaN  ABW1964

In [46]:
gdp.drop(["code", "year"], axis = 1, inplace=True)

In [47]:
gdp.tail()

          gdp_cons      map
15571  1.67505e+10  ZWE2014
15572  1.70487e+10  ZWE2015
15573  1.71775e+10  ZWE2016
15574  1.79856e+10  ZWE2017
15575          NaN  ZWE2018

In [49]:
gdp.to_csv("GDP_cons.csv")

In [33]:
# END