In [ ]:
# Accessing resource exports data from the Atlas of Economic Complexity
# Resource exports are operationalized in three different ways:
# 1. oil and gas exports (33, 34)
# 2. oil & gas and minerals exports (above + 32, 28, 66, 67, 68)
# 3. oil & gas, minerals and soft commodities (above + 04, 06, 07, 12, 23, 24, 25, 27)

In [1]:
import os
os.getcwd()
os.chdir('C:\\Users\\Vladimir.Grigoryev\\Documents\\Python Scripts\\eci')

In [2]:
import pandas as pd
import numpy as np

In [3]:
path1 = pd.read_csv('2digit.csv', sep = ",")
data = pd.DataFrame(path1)
data.head(5)

C:\Users\Vladimir.Grigoryev\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,year,export_value,import_value,hs_eci,hs_coi,sitc_eci,sitc_coi,location_code,location_name_short_en,sitc_product_code,sitc_product_name_short_en
0,1988,0.0,0.0,NaN,NaN,1.370849,-0.474975,ABW,Aruba,0,Live animals chiefly for food
1,1989,0.0,0.0,NaN,NaN,0.784267,-0.404974,ABW,Aruba,0,Live animals chiefly for food
2,1990,0.0,5280.0,NaN,NaN,-0.430476,-0.887176,ABW,Aruba,0,Live animals chiefly for food
3,1991,13546.0,48759.0,NaN,NaN,-0.569074,-0.893478,ABW,Aruba,0,Live animals chiefly for food
4,1992,31105.0,29348.0,NaN,NaN,-0.269096,-0.910005,ABW,Aruba,0,Live animals chiefly for food

In [20]:
filt1 = [33, 34]

d1 = data[0:0]

for fil in filt1:
    inst = data.loc[data.sitc_product_code == fil]
    d1 = pd.concat([d1, inst], axis = 0)
    
d1.describe(include = "object")

,location_code,location_name_short_en,sitc_product_code,sitc_product_name_short_en
count,22706,22706,22706,22706
unique,250,250,2,2
top,GBR,Honduras,34,"Gas, natural and manufactured"
freq,110,110,11353,11353

In [19]:
filt2 = [33, 34, 32, 28, 66, 67, 68]

d2 = data[0:0]

for fil in filt2:
    inst = data.loc[data.sitc_product_code == fil]
    d2 = pd.concat([d2, inst], axis = 0)
    
d2.describe(include = "object")

,location_code,location_name_short_en,sitc_product_code,sitc_product_name_short_en
count,79471,79471,79471,79471
unique,250,250,7,7
top,SAU,Honduras,68,"Coal, coke and briquettes"
freq,385,385,11353,11353

In [21]:
filt3 = [33, 34, 32, 28, 66, 67, 68, 4, 6, 7, 12, 23, 24, 25, 27]

d3 = data[0:0]

for fil in filt3:
    inst = data.loc[data.sitc_product_code == fil]
    d3 = pd.concat([d3, inst], axis = 0)
    
d3.describe(include = "object")

,location_code,location_name_short_en,sitc_product_code,sitc_product_name_short_en
count,170295,170295,170295,170295
unique,250,250,15,15
top,TWN,Brunei Darussalam,68,"Coal, coke and briquettes"
freq,825,825,11353,11353

In [84]:
# now we sum up the values for every country and year
r1 = d1[["location_code", "year", "export_value"]]
r1["map"] = r1.index
inst = r1.values
for i in range(len(inst)):
    inst[i][3] = inst[i][0] + str(inst[i][1])
    
t1 = pd.DataFrame(inst, columns = ("location_code", "year", "res_exp1", "map"))

C:\Users\Vladimir.Grigoryev\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [85]:
# now we sum up the values for every country and year
r2 = d2[["location_code", "year", "export_value"]]
r2["map"] = r2.index
inst = r2.values
for i in range(len(inst)):
    inst[i][3] = inst[i][0] + str(inst[i][1])
    
t2 = pd.DataFrame(inst, columns = ("location_code", "year", "res_exp2", "map"))

C:\Users\Vladimir.Grigoryev\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [86]:
# now we sum up the values for every country and year
r3 = d3[["location_code", "year", "export_value"]]
r3["map"] = r3.index
inst = r3.values
for i in range(len(inst)):
    inst[i][3] = inst[i][0] + str(inst[i][1])
    
t3 = pd.DataFrame(inst, columns = ("location_code", "year", "res_exp3", "map"))

C:\Users\Vladimir.Grigoryev\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [88]:
exp1_abs = t1.groupby("map")["res_exp1"].sum().reset_index()
exp2_abs = t2.groupby("map")["res_exp2"].sum().reset_index()
exp3_abs = t3.groupby("map")["res_exp3"].sum().reset_index()

In [89]:
exp_abs = pd.merge(exp1_abs, exp2_abs, how="outer", on="map")
exp_abs = pd.merge(exp_abs, exp3_abs, how="outer", on="map")

exp_abs.head()

       map      res_exp1      res_exp2      res_exp3
0  ABW1988  9.432662e+04  9.432662e+04  9.432662e+04
1  ABW1989  3.731783e+06  3.974673e+06  4.994322e+06
2  ABW1990  3.899423e+07  3.903815e+07  4.115415e+07
3  ABW1991  1.733823e+08  1.736360e+08  1.745836e+08
4  ABW1992  3.184905e+08  3.258677e+08  3.271487e+08

In [90]:
exp1_abs.to_csv("exp1_abs.csv")
exp2_abs.to_csv("exp2_abs.csv")
exp3_abs.to_csv("exp3_abs.csv")
exp_abs.to_csv("exp_abs.csv")

In [ ]:
# END